.profile_right {
    margin: 0 auto;
}

.profile_right div {
    margin: 0.625rem 0;
}

.profile_right label {
    font-size: 0.75rem;
    opacity: 50%;
    display: block;
    padding-bottom: 0.375rem;
}

.profile_right input {
    width: 19.5rem;
    font-size: 0.75rem;
    border: 1px solid #515151;
    padding: 0.93rem;
    border-radius: 1.125rem;
    opacity: 30%;
}

button {
    width: 21rem;
    font-size: 0.8rem;
    background-color: #35B8E1;
    color: #fff;
    padding: 0.93rem;
    margin-top: 0.625rem;
    border-radius: 1.25rem;
}

button:hover {
    background-color: #08a3d2;
}