.ranking_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking_text {
    text-align: center;
}

.ranking_text p {
    font-size: 15px;
    letter-spacing: 0px;
    opacity: 50%;
    margin: 50px 0 0 0;
    color: #FF774D;
}

.ranking_text h3 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -2px;
}

.ranking_text h3:nth-child(3) {
    color: #FF774D;
}

.mylike_category ul {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.mylike_category ul li {
    padding: 10px 70px;
    background: #fff;
    color: #FF774D;
    font-size: 15px;
    font-weight: 300;
    margin-right: 15px;
    border: 1px solid #FF774D;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.mylike_category ul li:hover {
    background: #FF774D;
    color: #fff;
    box-shadow: 1px 1px #ffc9b9, 2px 2px #ffc9b9, 3px 3px #ffc9b9;
    transform: translateX(-3px);
}

.ranking div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.ranking p {
    margin-right: 50px;
    padding: 8px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.ranking p:nth-child(1) {
    background-color: #FF774D;
    color: #fff;
}

.ranking p:nth-child(2) {
    margin-left: -50px;
}

.ranking p:nth-child(3) {
    color: #FF774D;
    font-weight: 600;
    margin-left: -40px;
}