.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: #CB4B16;
    border-radius: 80%;
    backface-visibility: hidden;
}

.main_visual {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner_wrap span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* place */
.map_wrap {
    background-color: #FFE4E1;
    height: 38rem;
    padding: 8rem 5rem 2rem;
}

.map_text p {
    font-size: 1rem;
    opacity: 50%;
    color: lightcoral;
}

.map_text h3 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
}

.map_text h3:nth-child(3) {
    color: lightcoral;
    margin-bottom: 2rem;
}

/* 지도 모니터 */
.map_box {
    width: 40rem;
    height: 23rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 2.25rem;
}

.map_header {
    height: 3rem;
    position: relative;
    width: 100%;
}

.map_header span {
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.map_header span:nth-child(1) {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: lightcoral;
}

.map_header span:nth-child(2) {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transform: translateX(130%);
    background-color: lightskyblue;
}

.map_header span:nth-child(3) {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transform: translateX(300%);
    background-color: lightgreen;
}

.map_img img {
    width: 80%;
    height: auto;
    margin-top: 2.5rem;
    margin-left: 0.7rem;
    border-radius: 1rem;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* food */
.food_wrap {
    background-color: #D5C2EE;
    width: 60%;
    height: 38rem;
    padding: 8rem 0;
}

.food_wrap p {
    font-size: 1rem;
    opacity: 50%;
    color: #e30f3d;
}

.food_wrap h3 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
}

.food_wrap h3:nth-child(3) {
    color: #e30f3d;
}

.food_img {
    margin: auto;
}

.food_img img {
    width: 99%;
}

/* phone */
.phone_wrap {
    background-color: rgb(189, 244, 189);
    width: 40%;
    height: 38rem;
    padding: 8rem 0;
}

.phone_wrap p {
    font-size: 1rem;
    opacity: 50%;
    color: rgb(0, 129, 0);
}

.phone_wrap h3 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
}

.phone_wrap h3:nth-child(3) {
    color: rgb(0, 129, 0);
}

/* Mobile iPhone Mockup */
.phone_main {
    margin: 3.1rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    width: 80%;
    height: 16rem;
}

.phone_name img {
    width: 20%;
    margin: auto;
}

.phone_name div h5 {
    font-size: 1rem;
    margin-right: 0.3rem;
    cursor: pointer;
    font-weight: 500;
    color: #FF774D;
}

.phone_name div h6 {
    font-size: 0.6rem;
    margin-right: 0.3rem;
    cursor: pointer;
    font-weight: 300;
    color: #FF774D;
}

.mockup-container {
    text-align: center;
}

.mockup {
    display: inline-block;
    position: relative;
    margin: 1.2rem;
}

.mobile-mockup {
    position: relative;
    border: 0.06rem solid #ddd;
    width: 12.4rem;
    height: 23.6rem;
    border-radius: 1.7rem;
    background-color: #fff;
}

.iframe-url {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    border: 1px solid #ddd;
    width: 24rem;
    height: 43.1rem;
}

.iframe-url iframe {
    width: 100%;
    height: 100%;
}

.home-btn {
    height: 4.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-btn span {
    border: 1px solid #ddd;
    width: 3.1rem;
    height: 3.1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
    border-radius: 50%;
}

.home-btn span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    box-shadow: inset 0 0 5px #eee;
}

.power {
    width: 0.3rem;
    height: 2.5rem;
    position: absolute;
    left: 99.7%;
    top: 7.2rem;
}

.power span {
    background-color: #ddd;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: inset 0 0 5px #eee;
}

.camera {
    height: 5rem;
    position: absolute;
    width: 100%;
}

.camera span {
    position: absolute;
    background-color: #000;
}

.camera span {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

/* 명언 */
.saying_warp {
    background-color: #FFE4E1;
    height: 12rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.saying_text {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 1rem;
}

.saying_text p:nth-child(1) {
    padding-bottom: 1rem;
}

/* 스와이퍼 */





@media screen and (max-width: 768px) {

    .swiper-container::after,
    .swiper-container::before {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media(min-width:768px) and (max-width:1024px) {}