@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

body {
    width: 1980px;
    margin: auto;
    color: #515151;
}

#header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 30px 100px;
    width: 100%;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}

#nav {
    display: flex;
    align-items: center;
}

#nav ul {
    display: flex;
    flex-direction: row;
    margin-left: -480px;
}

#nav ul li {
    margin-right: 30px;
    font-size: 15px;
    letter-spacing: -1px;
}

.nav_icon {
    display: flex;
    align-items: center;
    margin-right: 230px;
}

/* %는 자동 간격 조정됨. */
.nav_icon img {
    width: 20PX;
    margin-right: 15px;
}

.top_hr {
    position: relative;
    top: 135px;
    opacity: 30%;
}

#main {
    position: relative;
    top: 200px;
}

.join_section h2 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: -1px;
}

.content {
    width: 860px;
    margin: 0 auto;
    padding: 60px 0 0 0;
}

.write_sub h2 {
    padding-bottom: 30px;
}

.write_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write_sub div {
    margin: 10px 0;
}

.write_sub input {
    width: 500px;
    font-size: 12px;
    border: 1px solid #515151;
    padding: 15px;
    border-radius: 18px;
    opacity: 30%;
}

.write_sub textarea {
    width: 500px;
    font-size: 12px;
    border: 1px solid #515151;
    padding: 15px;
    border-radius: 18px;
    opacity: 30%;
}

.select_box {
    width: 335px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.write_select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 13px;
}

.write_select #option {
    font-size: 15px;
    color: #515151;
    width: 230px;
    border: 1px solid #515151;
    padding: 15px;
    border-radius: 18px;
    opacity: 30%;
    margin: 0 5px;
    display: block;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.write_select .select ul {
    width: 150px;
    background-color: #fff;
    color: #909090;
    padding: 10px 5px;
    display: none;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 5px;
    position: absolute;
    z-index: 1;
}

.write_select .select ul li {
    cursor: pointer;
    padding: 5px;
}

.write_select2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 13px;
}

.write_select2 #option2 {
    font-size: 15px;
    color: #515151;
    width: 230px;
    border: 1px solid #515151;
    padding: 15px;
    border-radius: 18px;
    opacity: 30%;
    margin: 0 5px;
    display: block;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.write_select2 .select2 ul {
    width: 150px;
    background-color: #fff;
    color: #909090;
    padding: 10px 5px;
    display: none;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 5px;
    position: absolute;
    z-index: 1;
}

.write_select2 .select2 ul li {
    cursor: pointer;
    padding: 5px;
}

button {
    width: 160px;
    font-size: 12px;
    background-color: #35B8E1;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    margin: 0 5px;
}

#footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 250px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 40px;
    opacity: 50%;
}

.bottom_hr {
    margin-bottom: 50px;
    opacity: 30%;
}