@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');


body {
    margin: auto;
    color: #515151;
}

#header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 30px 100px;
    width: 100%;
}


h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}

#nav {
    display: flex;
    align-items: center;
}

#nav ul {
    display: flex;
    flex-direction: row;
    margin-left: -480px;
}

#nav ul li {
    margin-right: 30px;
    font-size: 15px;
    letter-spacing: -1px;
}

.nav_icon {
    display: flex;
    align-items: center;
    margin-right: 230px;
}

/* %는 자동 간격 조정됨. */
.nav_icon img {
    width: 20PX;
    margin-right: 15px;
}

.top_hr {
    position: relative;
    top: 135px;
    opacity: 30%;
}

#main {
    position: relative;
    top: 200px;
}

.write_bt {
    display: block;
    text-align: right;
    padding-right: 300px;
}

/* 이런 경우엔 부모에 block을 주고 자식에 right준다. 위에<< */
.write_main div button {
    font-size: 15px;
    background-color: #35B8E1;
    color: #fff;
    border-radius: 20px;
    padding: 10px 27px;

}

.write_main div button:hover {
    background-color: #08a3d2;
}

.write_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 300px;
    padding: 30px 30px;
    border: 1px solid rgba(146, 146, 146, 0.5);
    ;
    border-radius: 30px;
}

.write_box h2 {
    font-size: 19px;
}

.write_box p {
    font-size: 14px;
    margin-top: 3px;
}

.user_info {
    font-size: 17px;
    opacity: 60%;
}